
<!-- ===================================== 
	BREADCRUMBS 
===================================== -->
<h3 id="breadcrumbs">{{title}}</h3>
<ul class="tabs">
<li><a href="#bread-example">Example</a></li>
<li><a href="#bread">Breadcrumbs</a></li>
<li><a href="#bread-alt1">Breadcrumbs.alt1</a></li>
</ul>

	<div id="bread-example" class="tab-content">
	<div class="col_6">
	<h4>Breadcrumbs</h4>
	<ul class="breadcrumbs">
	<li><a href="">Home</a></li>
	<li><a href="">Category</a></li>
	<li><a href="">Sub Category</a></li>
	<li><a href="">Page Title</a></li>
	</ul>
	</div>
	
	<div class="col_6">
	<h4>Breadcrumbs.alt1</h4>
	<ul class="breadcrumbs alt1">
	<li><a href="">Home</a></li>
	<li><a href="">Category</a></li>
	<li><a href="">Sub Category</a></li>
	<li><a href="">Page Title</a></li>
	</ul>
	</div>
	</div>
	
	<div id="bread" class="tab-content">
<pre>
&lt;!-- Breadcrumbs --&gt;
&lt;ul class=&quot;breadcrumbs&quot;&gt;
&lt;li&gt;&lt;a href=&quot;&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;&quot;&gt;Category&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;&quot;&gt;Sub Category&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;&quot;&gt;Page Title&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</pre>
	</div>
	
	<div id="bread-alt1" class="tab-content">
<pre>
&lt;!-- Alternative Style --&gt;
&lt;ul class=&quot;breadcrumbs alt1&quot;&gt;
&lt;li&gt;&lt;a href=&quot;&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;&quot;&gt;Category&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;&quot;&gt;Sub Category&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;&quot;&gt;Page Title&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</pre>
	</div>