	
<!-- ===================================== 
	BUTTONS 
===================================== -->
<style type="text/css">
#btn-example .button-bar{margin-bottom:10px;}
</style>

<h3 id="buttons">{{title}}</h3>
<ul class="tabs">
<li><a href="#btn-example">Example</a></li>
<li><a href="#btn-sizes">Sizes</a></li>
<li><a href="#btn-icons">With Icons</a></li>
<li><a href="#btn-colors">Colors</a></li>
<li><a href="#btn-styles">Styles</a></li>
<li><a href="#btn-bar">Button Bar</a></li>
</ul>
	
	<style type="text/css">
	#btn-example a.button, #btn-example button{margin-bottom:10px;}
	</style>

	<div id="btn-example" class="tab-content">
	<div class="col_3">
	<h4>Buttons</h4>
	<button>Button</button><br />
	<a class="button" href="">A.button</a><br />
	<button class="small">Small</button> <br />
	<button class="small" disabled="disabled">Small (disabled)</button><br />
	<button class="medium">Medium</button><br />
	<button class="large">Large</button>
	</div>
	
	<!-- BUTTONS W/ICON -->
	<div class="col_3">
	<h4>With Icons</h4>
	<button class="small"><i class="icon-picture"></i> Small</button><br />
	<button class="medium"><i class="icon-coffee"></i> Medium</button><br />
	<button class="large"><i class="icon-leaf"></i> Large</button><br />
	</div>
	
	<!-- BUTTON VARIATIONS -->
	<div class="col_3">
	<h4>Colors</h4>
	<button class="blue"><i class="icon-star"></i> .blue</button><br />
	<a class="button orange" href=""><i class="icon-music"></i> .orange</a><br />
	<button class="small pink"><i class="icon-plus-sign"></i> .pink</button><br /> 
	<button class="medium green"><i class="icon-play-circle"></i> .green</button><br />
	<button class="large red"><i class="icon-minus-sign"></i> .red</button>
	</div>
	
	<!-- BUTTON STYLES -->
	<div class="col_3">
	<h4>Styles</h4>
	<button>default</button><br />
	<button class="pill"><i class="icon-star"></i> .pill</button><br />
	<a class="button pop" href=""><i class="icon-music"></i> .pop</a><br />
	<button class="inset"><i class="icon-plus-sign"></i> .inset</button> <br />
	<button class="square"><i class="icon-minus-sign"></i> .square</button>
	</div><div class="clear"></div>
	
	<div class="col_12">
	<h4>Button Bar</h4>
	<ul class="button-bar">
	<li><a href=""><i class="icon-pencil"></i> Edit</a></li>
	<li><a href=""><i class="icon-tag"></i> Tag</a></li>
	<li><a href=""><i class="icon-upload-alt"></i> Upload</a></li>
	<li><a href=""><i class="icon-plus-sign"></i></a></li>
	</ul>&nbsp;&nbsp;
	
	<ul class="button-bar">
	<li><a href=""><i class="icon-folder-open"></i></a></li>
	<li><a href=""><i class="icon-file"></i></a></li>
	<li><a href=""><i class="icon-trash"></i></a></li>
	<li><a href=""><i class="icon-wrench"></i></a></li>
	</ul>&nbsp;&nbsp;
	
	<ul class="button-bar">
	<li><a href="">Item1</a></li>
	<li><a href=""><i class="icon-globe"></i> Item2</a></li>
	<li><a href="">Item3</a></li>
	<li><a href="">Item4</a></li>
	</ul>&nbsp;&nbsp;
	
	<ul class="button-bar">
	<li><a href=""><i class="icon-caret-left"></i></a></li>
	<li><a href=""><i class="icon-caret-right"></i></a></li>
	</ul>
	</div>
	</div>
	
	<div id="btn-sizes" class="tab-content">
<pre>
&lt;!-- Button Sizes --&gt;
&lt;button&gt;Button&lt;/button&gt;
&lt;a class=&quot;button&quot; href=&quot;&quot;&gt;A.button&lt;/a&gt;
&lt;button class=&quot;small&quot;&gt;Small&lt;/button&gt;
&lt;button class=&quot;small&quot; disabled=&quot;disabled&quot;&gt;Small (disabled)&lt;/button&gt;
&lt;button class=&quot;medium&quot;&gt;Medium&lt;/button&gt;
&lt;button class=&quot;large&quot;&gt;Large&lt;/button&gt;</pre>
	</div>
	
	<div id="btn-icons" class="tab-content">
<pre>
&lt;!-- Buttons w/Icons --&gt;
&lt;button class=&quot;small&quot;&gt;&lt;i class=&quot;icon-picture&quot;&gt;&lt;/i&gt; Small&lt;/button&gt;
&lt;button class=&quot;medium&quot;&gt;&lt;i class=&quot;icon-coffee&quot;&gt;&lt;/i&gt; Medium&lt;/button&gt;
&lt;button class=&quot;large&quot;&gt;&lt;i class=&quot;icon-leaf&quot;&gt;&lt;/i&gt; Large&lt;/button&gt;</pre>
	</div>
	
	<div id="btn-colors" class="tab-content">
<pre>
&lt;!-- Buttons w/Colors --&gt;
&lt;button class=&quot;blue&quot;&gt;&lt;i class=&quot;icon-star&quot;&gt;&lt;/i&gt; .blue&lt;/button&gt;
&lt;a class=&quot;button orange&quot; href=&quot;&quot;&gt;&lt;i class=&quot;icon-music&quot;&gt;&lt;/i&gt; .orange&lt;/a&gt;
&lt;button class=&quot;small pink&quot;&gt;&lt;i class=&quot;icon-plus-sign&quot;&gt;&lt;/i&gt; .pink&lt;/button&gt;
&lt;button class=&quot;medium green&quot;&gt;&lt;i class=&quot;icon-play-circle&quot;&gt;&lt;/i&gt; .green&lt;/button&gt;
&lt;button class=&quot;large red&quot;&gt;&lt;i class=&quot;icon-minus-sign&quot;&gt;&lt;/i&gt; .red&lt;/button&gt;</pre>
	</div>
	
	<div id="btn-styles" class="tab-content">
<pre>
&lt;!-- Default (no style) --&gt;
&lt;button&gt;default&lt;/button&gt;

&lt;!-- Pill --&gt;
&lt;button class=&quot;pill&quot;&gt;&lt;i class=&quot;icon-star&quot;&gt;&lt;/i&gt; .pill&lt;/button&gt;

&lt;!-- Pop --&gt;
&lt;a class=&quot;button pop&quot; href=&quot;&quot;&gt;&lt;i class=&quot;icon-music&quot;&gt;&lt;/i&gt; .pop&lt;/a&gt;

&lt;!-- Inset --&gt;
&lt;button class=&quot;inset&quot;&gt;&lt;i class=&quot;icon-plus-sign&quot;&gt;&lt;/i&gt; .inset&lt;/button&gt;

&lt;!-- Square --&gt;
&lt;button class=&quot;square&quot;&gt;&lt;i class=&quot;icon-minus-sign&quot;&gt;&lt;/i&gt; .square&lt;/button&gt;
</pre>
	</div>
	
	<div id="btn-bar" class="tab-content">
<pre>
&lt;!-- Button Bar w/icons --&gt;
&lt;ul class=&quot;button-bar&quot;&gt;
&lt;li&gt;&lt;a href=&quot;&quot;&gt;&lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt; Edit&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;&quot;&gt;&lt;i class=&quot;icon-tag&quot;&gt;&lt;/i&gt; Tag&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;&quot;&gt;&lt;i class=&quot;icon-upload-alt&quot;&gt;&lt;/i&gt; Upload&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;&quot;&gt;&lt;i class=&quot;icon-plus-sign&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>
	</div>
