<!-- ===================================== 
	Extras/Helpers
===================================== -->
<h3 id="forms">{{title}}</h3>
<ul class="tabs">
    <li><a href="#extras">Extras</a>
    </li>
</ul>

<div id="extras" class="tab-content">
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>
                    <code>.left</code>
                    <code>.center</code>
                    <code>.right</code>
                </td>
                <td>Align Text</td>
            </tr>
            <tr>
                <td>
                    <code>a.lightbox</code>
                </td>
                <td>Open Link in lightbox. Auto Detects, iframe, inline content, etc.</td>
            </tr>
            <tr>
                <td>
                    <code>.clear</code>
                </td>
                <td>Add this class to a div or other element to clear floats.</td>
            </tr>
            <tr>
                <td>
                    <code>.clearfix</code>
                </td>
                <td>Add this class to containers that have floating children inside to clear inner floats.</td>
            </tr>
            <tr>
                <td>
                    <code>li.first</code>
                    <code>li.last</code>
                </td>
                <td>First and Last
                    <code>&lt;li&gt;&lt;/li&gt;</code>items automatically get classes
                    <code>.first</code>and
                    <code>.last</code>respectively.</td>
            </tr>
            <tr>
                <td>
                    <code>.column</code>
                </td>
                <td>All columns have the class
                    <code>.column</code>added to them automatically for easy global styling.</td>
            </tr>
            <tr>
                <td>
                    <code>.visible</code>
                </td>
                <td>Add this to columns to view during production. Adds light grey background color to columns.</td>
            </tr>
            <tr>
                <td>
                    <code>.hide</code>
                    <code>.show</code>
                </td>
                <td>
                    <code>.hide</code>to hide content (display:none).
                    <code>.show</code>to show content (display:block).</td>
            </tr>
            <tr>
                <td>
                    <code>tr.first</code>
                    <code>tr.last</code>
                </td>
                <td>First and Last
                    <code>&lt;tr&gt;&lt;/tr&gt;</code>items automatically get classes
                    <code>.first</code>and
                    <code>.last</code>respectively.</td>
            </tr>
            <tr>
                <td>
                    <code>tr.alt</code>
                </td>
                <td>Every second table row automatically gets class
                    <code>.alt</code>.</td>
            </tr>
        </thead>
    </table>
</div>
