	
<!-- ===================================== 
	CODE/PRE 
===================================== -->
<h3 id="code">{{title}}</h3>
<ul class="tabs">
<li><a href="#code-example">Example</a></li>
<li><a href="#code-html">PRE.html</a></li>
<li><a href="#code-css">PRE.css</a></li>
<li><a href="#code-js">PRE.js</a></li>
<li><a href="#code-php">PRE.php</a></li>
</ul>

	<div id="code-example" class="tab-content">
	<div class="col_4">
	<h4>PRE HTML</h4>
	<pre>
&lt;html&gt;
&lt;head&gt;&lt;title&gt;This is a title&lt;/title&gt;&lt;/head&gt;
&lt;body class=&quot;subpage&quot;&gt;
	&lt;!-- Content Here --&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
	</div>
	
	<!-- CODE CSS -->
	<div class="col_4">
	<h4>PRE CSS</h4>
	<pre class="css">
body{
font-weight:bold;
color:#000;
line-height:150%;
}</pre>
	</div>
	
	<!-- CODE JS -->
	<div class="col_4">
	<h4>PRE JS</h4>
	<pre class="js">
$(document).ready(function(){
	alert('jQuery');
});</pre>
	</div>
	</div>
	
	<div id="code-html" class="tab-content">
<pre>
&lt;!-- Code HTML --&gt;
&lt;pre&gt;
&#8230;code goes here&#8230; 
&lt;/pre&gt;</pre>
	</div>
	
	<div id="code-css" class="tab-content">
<pre>
&lt;!-- Code CSS --&gt;
&lt;pre&gt;
&#8230;code goes here&#8230; 
&lt;/pre&gt;</pre>
	</div>
	
	<div id="code-js" class="tab-content">
<pre>
&lt;!-- Code Javascript --&gt;
&lt;pre&gt;
&#8230;code goes here&#8230; 
&lt;/pre&gt;</pre>
	</div>
	
	<div id="code-php" class="tab-content">
<pre>
&lt;!-- Code PHP --&gt;
&lt;pre&gt;
&#8230;code goes here&#8230; 
&lt;/pre&gt;</pre>
	</div>