<!-- ===================================== 
	HORIZONTAL RULES 
===================================== -->
<h3 id="horizontal-rules">{{title}}</h3>
<ul class="tabs">
<li><a href="#hr-example">Example</a></li>
<li><a href="#hr-html">HTML</a></li>
</ul>

	<div id="hr-example" class="tab-content">
	<div class="col_4">
	<h4>HR</h4>
	<hr />
	</div>
	
	<div class="col_4">
	<h4>HR.alt1</h4>
	<hr class="alt1" />
	</div>
	
	<div class="col_4">
	<h4>HR.alt2</h4>
	<hr class="alt2" />
	</div>
	</div>
	
	<div id="hr-html" class="tab-content">
<pre>
&lt;!-- HR --&gt;
&lt;hr /&gt;

&lt;!-- HR.alt1 --&gt;
&lt;hr class=&quot;alt1&quot; /&gt;

&lt;!-- HR.alt2 --&gt;
&lt;hr class=&quot;alt2&quot; /&gt;</pre>
	</div>
