<!-- ===================================== 
	INSTRUCTIONS 
===================================== -->
<h3>{{title}}</h3>
	<div id="instructions" class="tab-content">
	<div class="col_8">
	<h4><i class="icon-wrench"></i> Setup</h4>
	<ol>
	<li><a href="http://SuperTemplate.supermobile.dk/downloads/">Download HTML5 SuperTemplate</a></li>
	<li>Include SuperTemplate resources
<pre>
&lt;link rel=&quot;stylesheet&quot; href=&quot;css/SuperTemplate.css&quot; media=&quot;all&quot; /&gt; 
</pre>

<pre>
&lt;script src=&quot;http://code.jquery.com/jquery-latest.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/SuperTemplate.js&quot;&gt;&lt;/script&gt;  
</pre>

	 
	</ol>
	</div>
	<div class="col_1"></div>
	<div class="col_3">
	<h4><i class="icon-globe"></i> Browsers</h4>
	HTML SuperTemplate Tested and working in IE 8+, Safari, Chrome, Firefox, Opera, Safari IOS, Browser and Chrome Android. 
	<h4>Notes</h4>
	Don't forget to use an HTML5 Doctype
	<code>&lt;!DOCTYPE html&gt;</code>
	</div>
	</div>