<!-- ===================================== 
	INSTRUCTIONS 
===================================== -->
<h3>{{title}}</h3>
	<div id="instructions" class="tab-content">
	<div class="col_8">
	
<h4>You can download using git, npm or bower </h4>

<h6><i class="icon-download-alt"></i> git installation</h6>

<pre>
git clone https://github.com/Jalalhejazi/HTML5-SuperTemplate.git 
</pre>

<h6><i class="icon-download-alt"></i> npm installation</h6>

<pre>
npm install html5-supertemplate	
</pre>



<h6><i class="icon-download-alt"></i> bower installation</h6>

<pre>
bower install HTML5-SuperTemplate
</pre>

<h6> <i class="icon-edit"></i> Head Setup</h6>
<pre>
&lt;link rel=&quot;stylesheet&quot; href=&quot;SuperTemplate.css&quot; media=&quot;all&quot; /&gt; 
</pre>

<h6> <i class="icon-edit"></i> Body Setup</h6>

<pre>
&lt;script src=&quot;http://code.jquery.com/jquery-latest.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;SuperTemplate.js&quot;&gt;&lt;/script&gt;  
</pre>

	 
	</ul>
	</div>
	<div class="col_1"></div>
	<div class="col_3">
	<h4><i class="icon-globe"></i> Browsers</h4>
	HTML SuperTemplate Tested and working in IE 8+, Safari, Chrome, Firefox, Opera, Safari IOS, Browser and Chrome Android. 
	<h4>Notes</h4>
	Don't forget to use an HTML5 Doctype
	<code>&lt;!DOCTYPE html&gt;</code>
	</div>
	</div>