<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HTML5 SuperTemplate save you a lot of hours " />
    <meta name="copyright" content="Jalal Hejazi SuperTemplate.supermobile.dk" />


    <link href="/SuperTemplate/css/SuperTemplate.css" rel="stylesheet">
    <link href="/SuperTemplate/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/SuperTemplate/js/SuperTemplate.js"></script>
</head>

<body>
    <nav class="navbar">
        <a class="hide-phone" id="logo" href="#"><i class="icon-angle-right"></i> Open<span>Source</span></a>
 
        <ul>
            <li>
                <a href="#">
                    <span>HTML5</span>SuperTemplate</a>
            </li>

            <li>
                <a href="/instructions"><i class="icon-wrench"></i> <span>
              Instructions</span> 
            </a>
            </li>


        </ul>
    </nav>

    <div class="callout callout-top clearfix">
        <div class="grid">
            <h1>HTML5 SuperTemplate</h1>
            <h4>Super Simple HTML5, CSS, & JavaScript
                <br />for Web Apps components</h4>
            <div class="col_3">
                <i class="icon-mobile-phone icon-4x"></i>
                <br />Responsive
            </div>

            <div class="col_3">
                <i class="icon-github icon-4x"></i>
                <br />MIT Open Source
            </div>

            <div class="col_3">
                <i class="icon-flag icon-4x"></i>
                <br />Ready
                <br />
            </div>

            <div class="col_3 omega">
                <i class="icon-tint icon-4x"></i>
                <br />Designer Friendly

                </i>
            </div>
            <div class="clear"></div>
            <br />
            <a class="button red large" href="https://github.com/Jalalhejazi/HTML5-SuperTemplate"><i class="icon-download-alt"></i> Download (Github)</a> 
            <span style="white-space: nowrap;">
                <a class="button blue large" href="https://twitter.com/jalalhejazi"><i class="icon-twitter"></i></a>
                <a class="button blue large" href="mailto:jalal.hejazi@gmail.com"><i class="icon-envelope-alt"></i></a>
            </span>
            <br />

        </div>
        <hr class="alt2">

        <div>
            <a href="/icons">
                <button class="blue"><i class="icon-star"></i> Icons</button>
            </a>
            <a href="/images">
                <button class="blue"><i class="icon-star"></i> images</button>
            </a>
            <a href="/buttons">
                <button class="blue"><i class="icon-star"></i> buttons</button>
            </a>
            <a href="/HR">
                <button class="blue"><i class="icon-star"></i> HR</button>
            </a>
        </div>

    </div>

    <div class="grid">

        <ul class="menu">
            <li>
                <a href="/Menus"><i class="icon-inbox"></i> Menus</a>
                <ul>
                    <li>
                        <a href="/Lists"><i class="icon-star"></i>Lists</a>
                    </li>
                    <li><a href="/Tabs"><i class="icon-star"></i>Tabs</a>
                    </li>
                    <li>
                        <a href="/tables"><i class="icon-star"></i>Tables</a>
                    </li>
                </ul>

            </li>

            <li><a href="/breadcrumbs"><i class="icon-star"></i>Breadcrumbs</a>
            </li>

            <li><a href="/slideshow"><i class="icon-magic"></i>Slideshow</a>
            </li>

            <li><a href="/forms"><i class="icon-star"></i>Forms</a>
            </li>

            <li><a href="/grids"><i class="icon-star"></i>Grids</a>
            </li>

            <li><a href="/Tooltips"><i class="icon-star"></i>Tooltips</a>
            </li>

             <li><a href="/Typography"><i class="icon-star"></i>Typography</a>
            </li>

             <li><a href="/Code"><i class="icon-star"></i>Code</a>
            </li>

             <li>
                  <a href="/Classes">
                  
                    <button class="green">
                      CSS Class Names  
                    </button>  
                    
                  </a>
            </li>
  
        </ul>


    </div>

    <div class="grid">


        {{{body}}}

    </div>


    <!-- START FOOTER -->
    <div class="clear"></div>
    <div id="footer">
        &copy; Copyright 2014 All Rights Reserved. This website was built with
        <a href="#">HTML5 SuperTemplate</a> •
    </div>




</body>

</html>
