
<!-- ===================================== 
	LISTS 
===================================== -->
<h3 id="lists">{{title}}</h3>
<ul class="tabs">
<li><a href="#list-example">Example</a></li>
<li><a href="#list-ul">UL</a></li>
<li><a href="#list-ol">OL</a></li>
<li><a href="#list-checks">UL.icons</a></li>
<li><a href="#list-alt">UL.alt</a></li>
</ul>

	<div id="list-example" class="tab-content">
	<div class="col_3">
	<h4>Unordered List</h4>
	<ul>
	<li>Apple</li>
	<li>Banana</li>
	<li>Orange</li>
	<li>Pear</li>
	</ul>
	</div>
	
	<div class="col_3">
	<h4>Ordered List</h4>
	<ol>
	<li>Apple</li>
	<li>Banana</li>
	<li>Orange</li>
	<li>Pear</li>
	</ol>
	</div>
	
	<div class="col_3">
	<h4>UL.icons</h4>
	<ul class="icons">
	<li><i class="icon-ok"></i>Apple</li>
	<li><i class="icon-ok"></i>Banana</li>
	<li><i class="icon-ok"></i>Orange</li>
	<li><i class="icon-remove"></i>Pear</li>
	</ul>
	</div>
	
	<div class="col_3">
	<h4>UL.alt</h4>
	<ul class="alt">
	<li>Apple</li>
	<li>Banana</li>
	<li>Orange</li>
	<li>Pear</li>
	</ul>
	</div>
	</div>
	
	<div id="list-ul" class="tab-content">
<pre>
&lt;!-- Unordered List --&gt;
&lt;ul&gt;
&lt;li&gt;Apple&lt;/li&gt;
&lt;li&gt;Banana&lt;/li&gt;
&lt;li&gt;Orange&lt;/li&gt;
&lt;li&gt;Pear&lt;/li&gt;
&lt;/ul&gt;</pre>
	</div>
	
	<div id="list-ol" class="tab-content">
<pre>
&lt;!-- Ordered List --&gt;
&lt;ol&gt;
&lt;li&gt;Apple&lt;/li&gt;
&lt;li&gt;Banana&lt;/li&gt;
&lt;li&gt;Orange&lt;/li&gt;
&lt;li&gt;Pear&lt;/li&gt;
&lt;/ol&gt;</pre>
	</div>
	
	<div id="list-checks" class="tab-content">
<pre>
&lt;!-- List Icons --&gt;
&lt;ul class=&quot;icons&quot;&gt;
&lt;li&gt;&lt;i class=&quot;icon-ok&quot;&gt;&lt;/i&gt;Apple&lt;/li&gt;
&lt;li&gt;&lt;i class=&quot;icon-ok&quot;&gt;&lt;/i&gt;Banana&lt;/li&gt;
&lt;li&gt;&lt;i class=&quot;icon-ok&quot;&gt;&lt;/i&gt;Orange&lt;/li&gt;
&lt;li&gt;&lt;i class=&quot;icon-remove&quot;&gt;&lt;/i&gt;Pear&lt;/li&gt;
&lt;/ul&gt;</pre>
	</div>
	
	<div id="list-alt" class="tab-content">
<pre>
&lt;!-- List Alternative Style --&gt;
&lt;ul class=&quot;alt&quot;&gt;
&lt;li&gt;Apple&lt;/li&gt;
&lt;li&gt;Banana&lt;/li&gt;
&lt;li&gt;Orange&lt;/li&gt;
&lt;li&gt;Pear&lt;/li&gt;
&lt;/ul&gt;</pre>
	</div>