<!-- ===================================== 
	SLIDESHOW 
===================================== -->
<h3 id="slideshow">{{title}}</h3>
<ul class="tabs">
<li><a href="#slideshow-example">Example</a></li>
<li><a href="#slideshow-html">HTML</a></li>
</ul>

	<div id="slideshow-example" class="tab-content">
	<p>Fully responsive slideshow. Touch enabled. Uses the awesome & highly configurable <a href="http://bxslider.com/">BXSlider</a>.</p>
	<div class="col_8">
	<ul class="slideshow">
	<li><img src="http://placehold.it/550x350/4D99E0/ffffff.png&text=550x350" width="550" height="350" /></li>
	<li><img src="http://placehold.it/550x350/75CC00/ffffff.png&text=550x350" width="550" height="350" /></li>
	<li><img src="http://placehold.it/550x350/E49800/ffffff.png&text=550x350" width="550" height="350" /></li>
	</ul>
	</div>
	
	<div class="col_4">
	<h4>Features</h4>
	<ul class="icons">
	<li><i class="icon-ok"></i> Slide Any HTML Content</li>
	<li><i class="icon-ok"></i> Responsive</li>
	<li><i class="icon-ok"></i> Touch Enabled</li>
	<li><i class="icon-ok"></i> Iframes</li>
	<li><i class="icon-ok"></i> Videos</li>
	<li><i class="icon-ok"></i> Images</li>
	<li><i class="icon-ok"></i> Lightweight</li>
	<li><i class="icon-ok"></i> Multiple Slideshows</li>
	<li><i class="icon-ok"></i> Zero Setup Required</li>
	<li><i class="icon-ok"></i> Unordered List (default)</li>
	</ul>
	</div>
	</div>
	
	<div id="slideshow-html" class="tab-content">
<pre>
&lt;!-- Slideshow --&gt;
&lt;ul class=&quot;slideshow&quot;&gt;
&lt;li&gt;&lt;img src=&quot;http://placehold.it/550x350/4D99E0/ffffff.png&amp;text=550x350&quot; width=&quot;550&quot; height=&quot;350&quot; /&gt;&lt;/li&gt;
&lt;li&gt;&lt;img src=&quot;http://placehold.it/550x350/75CC00/ffffff.png&amp;text=550x350&quot; width=&quot;550&quot; height=&quot;350&quot; /&gt;&lt;/li&gt;
&lt;li&gt;&lt;img src=&quot;http://placehold.it/550x350/E49800/ffffff.png&text=550x350&quot; width=&quot;550&quot; height=&quot;350&quot; /&gt;&lt;/li&gt;
&lt;li&gt;&lt;h3&gt;Slide Anything&lt;/h3&gt;&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;</pre>
	</div>
