
<!-- ===================================== 
	TABLES 
===================================== -->
<h3 id="tables">{{title}}</h3>
<ul class="tabs">
<li><a href="#table-example">Example</a></li>
<li><a href="#table">Table</a></li>
<li><a href="#table-wside">Table w/side TH</a></li>
<li><a href="#table-styles">Table Styles</a></li>
</ul>

	<div id="table-example" class="tab-content">
	<div class="col_6">
	<h4>Table (default)</h4>
	<table cellspacing="0" cellpadding="0">
	<thead><tr>
		<th>Item1</th>
		<th>Item2</th>
		<th>Item3</th>
	</tr></thead>
	<tbody><tr>
		<td>Item1</td>
		<td>Item2</td>
		<td>Item3</td>
	</tr><tr>
		<td>Item1</td>
		<td>Item2</td>
		<td>Item3</td>
	</tr><tr>
		<td>Item1</td>
		<td>Item2</td>
		<td>Item3</td>
	</tr><tr>
		<td>Item1</td>
		<td>Item2</td>
		<td>Item3</td>
	</tr></tbody>
	</table>
	</div>
	
	<div class="col_6">
	<h4>Table.striped</h4>
	<table class="striped" cellspacing="0" cellpadding="0">
	<thead><tr>
		<th>&nbsp;</th>
		<th>Item2</th>
		<th>Item3</th>
	</tr></thead>
	<tbody><tr>
		<th>Item1</th>
		<td>Item2</td>
		<td>Item3</td>
	</tr><tr>
		<th>Item1</th>
		<td>Item2</td>
		<td>Item3</td>
	</tr><tr>
		<th>Item1</th>
		<td>Item2</td>
		<td>Item3</td>
	</tr><tr>
		<th>Item1</th>
		<td>Item2</td>
		<td>Item3</td>
	</tr></tbody>
	</table>
	</div><div class="clear"></div>
	
	<div class="col_6">
	<h4>Table.tight</h4>
	<table class="tight" cellspacing="0" cellpadding="0">
	<thead><tr>
		<th>Item1</th>
		<th>Item2</th>
		<th>Item3</th>
	</tr></thead>
	<tbody><tr>
		<td>Item1</td>
		<td>Item2</td>
		<td>Item3</td>
	</tr><tr>
		<td>Item1</td>
		<td>Item2</td>
		<td>Item3</td>
	</tr><tr>
		<td>Item1</td>
		<td>Item2</td>
		<td>Item3</td>
	</tr><tr>
		<td>Item1</td>
		<td>Item2</td>
		<td>Item3</td>
	</tr></tbody>
	</table>
	</div>
	
	<div class="col_6">
	<h4>Table.sortable</h4>
	<table class="sortable" cellspacing="0" cellpadding="0">
	<thead><tr>
		<th>Name</th>
		<th>Number</th>
		<th>Color</th>
		<th>Actions</th>
	</tr></thead>
	<tbody><tr>
		<td>Jalal</td>
		<td>123-4321</td>
		<td>Blue</td>
		<td><a href=""><i class="icon-pencil"></i></a> 
		<a href=""><i class="icon-minus-sign"></i></a></td>
	</tr><tr>
		<td>Lars</td>
		<td>555-5698</td>
		<td>Gold</td>
		<td><a href=""><i class="icon-pencil"></i></a> 
		<a href=""><i class="icon-minus-sign"></i></a></td>
	</tr><tr>
		<td>Brian</td>
		<td>666-7654</td>
		<td>Red</td>
		<td><a href=""><i class="icon-pencil"></i></a> 
		<a href=""><i class="icon-minus-sign"></i></a></td>
	</tr><tr>
		<td>Mary</td>
		<td>555-6732</td>
		<td>Pink</td>
		<td><a href=""><i class="icon-pencil"></i></a> 
		<a href=""><i class="icon-minus-sign"></i></a></td>
	</tr></tbody>
	</table>
	</div>
	</div>
	
	<div id="table" class="tab-content">
<pre>
&lt;!-- Table --&gt;
&lt;table cellspacing=&quot;0&quot; cellpadding=&quot;0&quot;&gt;
&lt;thead&gt;&lt;tr&gt;
	&lt;th&gt;Item1&lt;/th&gt;
	&lt;th&gt;Item2&lt;/th&gt;
	&lt;th&gt;Item3&lt;/th&gt;
&lt;/tr&gt;&lt;/thead&gt;
&lt;tbody&gt;&lt;tr&gt;
	&lt;td&gt;Item1&lt;/td&gt;
	&lt;td&gt;Item2&lt;/td&gt;
	&lt;td&gt;Item3&lt;/td&gt;
&lt;/tr&gt;&lt;tr&gt;
	&lt;td&gt;Item1&lt;/td&gt;
	&lt;td&gt;Item2&lt;/td&gt;
	&lt;td&gt;Item3&lt;/td&gt;
&lt;/tr&gt;&lt;tr&gt;
	&lt;td&gt;Item1&lt;/td&gt;
	&lt;td&gt;Item2&lt;/td&gt;
	&lt;td&gt;Item3&lt;/td&gt;
&lt;/tr&gt;&lt;tr&gt;
	&lt;td&gt;Item1&lt;/td&gt;
	&lt;td&gt;Item2&lt;/td&gt;
	&lt;td&gt;Item3&lt;/td&gt;
&lt;/tr&gt;&lt;/tbody&gt;
&lt;/table&gt;</pre>
	</div>
	
	<div id="table-wside" class="tab-content">
<pre>
&lt;!-- Table w/Side --&gt;
&lt;table cellspacing=&quot;0&quot; cellpadding=&quot;0&quot;&gt;
&lt;thead&gt;&lt;tr&gt;
	&lt;th&gt;&nbsp;&lt;/th&gt;
	&lt;th&gt;Item2&lt;/th&gt;
	&lt;th&gt;Item3&lt;/th&gt;
&lt;/tr&gt;&lt;/thead&gt;
&lt;tbody&gt;&lt;tr&gt;
	&lt;th&gt;Item1&lt;/th&gt;
	&lt;td&gt;Item2&lt;/td&gt;
	&lt;td&gt;Item3&lt;/td&gt;
&lt;/tr&gt;&lt;tr&gt;
	&lt;th&gt;Item1&lt;/th&gt;
	&lt;td&gt;Item2&lt;/td&gt;
	&lt;td&gt;Item3&lt;/td&gt;
&lt;/tr&gt;&lt;tr&gt;
	&lt;th&gt;Item1&lt;/th&gt;
	&lt;td&gt;Item2&lt;/td&gt;
	&lt;td&gt;Item3&lt;/td&gt;
&lt;/tr&gt;&lt;tr&gt;
	&lt;th&gt;Item1&lt;/th&gt;
	&lt;td&gt;Item2&lt;/td&gt;
	&lt;td&gt;Item3&lt;/td&gt;
&lt;/tr&gt;&lt;/tbody&gt;
&lt;/table&gt;</pre>
	</div>
	
	<div id="table-styles" class="tab-content">
<pre>
&lt;!-- Table striped --&gt;
&lt;table class=&quot;striped&quot;&gt;
...
&lt;/table&gt;

&lt;!-- Table tight --&gt;
&lt;table class=&quot;tight&quot;&gt;
...
&lt;/table&gt;

&lt;!-- Table sortable --&gt;
&lt;table class=&quot;sortable&quot;&gt;
...
&lt;/table&gt;

&lt;!-- Table combined Styles --&gt;
&lt;table class=&quot;striped tight sortable&quot;&gt;
...
&lt;/table&gt;
</pre>
	</div>