
<!-- ===================================== 
	TABS 
===================================== -->
<h3 id="tabs">{{title}}</h3>
<ul class="tabs">
<li><a href="#tabs-example">Example</a></li>
<li><a href="#tabs-left">Tabs.left</a></li>
<li><a href="#tabs-center">Tabs.center</a></li>
<li><a href="#tabs-right">Tabs.right</a></li>
</ul>

	<div id="tabs-example" class="tab-content">
	<div class="col_4">
	<h4>Tabs.left</h4>
	<ul class="tabs left">
	<li><a href="#tab1">Tab1</a></li>
	<li><a href="#tab2">Tab2</a></li>
	<li><a href="#tab3">Tab3</a></li>
	</ul>
	
	<div id="tab1" class="tab-content">Tab1</div>
	<div id="tab2" class="tab-content">Tab2</div>
	<div id="tab3" class="tab-content">Tab3</div>
	</div>
	
	<!-- TABS CENTER -->
	<div class="col_4">
	<h4>Tabs.center</h4>
	<ul class="tabs center">
	<li><a href="#tabc1">Tab1</a></li>
	<li><a href="#tabc2"><i class="icon-folder-open"></i> Tab2</a></li>
	<li><a href="#tabc3">Tab3</a></li>
	</ul>
	
	<div id="tabc1" class="tab-content">Tab1</div>
	<div id="tabc2" class="tab-content">Tab2 has an icon.</div>
	<div id="tabc3" class="tab-content">Tab3</div>
	</div>
	
	<!-- TABS RIGHT -->
	<div class="col_4">
	<h4>Tabs.right</h4>
	<ul class="tabs right">
	<li><a href="#tabr1">Tab1</a></li>
	<li><a href="#tabr2">Tab2</a></li>
	<li><a href="#tabr3">Tab3</a></li>
	</ul>
	
	<div id="tabr1" class="tab-content">Tab1</div>
	<div id="tabr2" class="tab-content">Tab2</div>
	<div id="tabr3" class="tab-content">Tab3</div>
	</div>
	</div>
	
	<div id="tabs-left" class="tab-content">
<pre>
&lt;!-- Tabs Left --&gt;
&lt;ul class=&quot;tabs left&quot;&gt;
&lt;li&gt;&lt;a href=&quot;#tabr1&quot;&gt;Tab1&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;#tabr2&quot;&gt;Tab2&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;#tabr3&quot;&gt;Tab3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;div id=&quot;tabr1&quot; class=&quot;tab-content&quot;&gt;Tab1&lt;/div&gt;
&lt;div id=&quot;tabr2&quot; class=&quot;tab-content&quot;&gt;Tab2&lt;/div&gt;
&lt;div id=&quot;tabr3&quot; class=&quot;tab-content&quot;&gt;Tab3&lt;/div&gt;</pre>
	</div>
	
	<div id="tabs-center" class="tab-content">
<pre>
&lt;!-- Tabs Center --&gt;
&lt;ul class=&quot;tabs center&quot;&gt;
&lt;li&gt;&lt;a href=&quot;#tabc1&quot;&gt;Tab1&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;#tabc2&quot;&gt;&lt;i class=&quot;icon-folder-open&quot;&gt;&lt;/i&gt; Tab2&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;#tabc3&quot;&gt;Tab3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;div id=&quot;tabc1&quot; class=&quot;tab-content&quot;&gt;Tab1&lt;/div&gt;
&lt;div id=&quot;tabc2&quot; class=&quot;tab-content&quot;&gt;Tab2 has an icon.&lt;/div&gt;
&lt;div id=&quot;tabc3&quot; class=&quot;tab-content&quot;&gt;Tab3&lt;/div&gt;</pre>
	</div>
	
	<div id="tabs-right" class="tab-content">
<pre>
&lt;!-- Tabs Right --&gt;
&lt;ul class=&quot;tabs right&quot;&gt;
&lt;li&gt;&lt;a href=&quot;#tabr1&quot;&gt;Tab1&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;#tabr2&quot;&gt;Tab2&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;#tabr3&quot;&gt;Tab3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;div id=&quot;tabr1&quot; class=&quot;tab-content&quot;&gt;Tab1&lt;/div&gt;
&lt;div id=&quot;tabr2&quot; class=&quot;tab-content&quot;&gt;Tab2&lt;/div&gt;
&lt;div id=&quot;tabr3&quot; class=&quot;tab-content&quot;&gt;Tab3&lt;/div&gt;</pre>
	</div>