	
<!-- ===================================== 
	TYPOGRAPHY 
===================================== -->

<h3 id="typography">{{title}}</h3>
<ul class="tabs">
<li><a href="#type-example">Example</a></li>
<li><a href="#type-headings">Headings</a></li>
<li><a href="#type-paragraphs">Paragraphs</a></li>
<li><a href="#type-blockquotes">Blockquote</a></li>
<li><a href="#type-blockquotes-small">Blockquote.small</a></li>
<li><a href="#type-inline-styles">Inline Styles</a></li>
<li><a href="#type-address">Address</a></li>
</ul>

	<div id="type-example" class="tab-content">
	<div class="col_8">
	<h4>Paragraphs</h4>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
	magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper 
	suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in 
	hendrerit in vulputate velit esse molestie consequat</p>
	<p>El illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim 
	qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam 
	liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim 
	placerat facer possim assum.</p>
	
	<!-- BLOCKQUOTES -->
	<h4>Blockquote</h4>
	<blockquote><p>lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit 
	in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan 
	et iusto odio
	<span>Someone Important</span></p></blockquote>
	
	<!-- BLOCKQUOTE SMALL -->
	<h4>Blockquote Small</h4>
	<blockquote class="small"><p>lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit 
	in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan 
	et iusto odio
	<span>Someone Important</span></p></blockquote>
	</div>
	
	<!-- TYPE STYLES -->
	<div class="col_4">
	<h4>Inline Styles</h4>
	<ul>
	<li><strong>Strong</strong></li>
	<li><em>Emphasis</em></li>
	<li><a href="">Inline Link</a></li>
	<li><strike>Strike</strike></li>
	<li>Inline <i class="icon-film"></i> Icons</li>
	<li><code>&lt;h1&gt;Sample Code&lt;/h1&gt;</code></li>
	</ul>
	<hr />
	
	<h1>Heading 1</h1>
	<h2>Heading 2</h2>
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<h5>Heading 5</h5>
	<h6>Heading 6</h6>
	<hr />
	
	<h4>Address</h4>
	<address><p>
	1234 IT way<br />
	cph, dk<br />
	2000
	</p>
	</address>
	</div>
	</div>
	
	<div id="type-headings" class="tab-content">
<pre>
&lt;!-- Headings 1–6 --&gt;
&lt;h1&gt;Heading 1&lt;/h1&gt;
&lt;h2&gt;Heading 2&lt;/h2&gt;
&lt;h3&gt;Heading 3&lt;/h3&gt;
&lt;h4&gt;Heading 4&lt;/h4&gt;
&lt;h5&gt;Heading 5&lt;/h5&gt;
&lt;h6&gt;Heading 6&lt;/h6&gt;</pre>
	</div>
	
	<div id="type-paragraphs" class="tab-content">
<pre>
&lt;!-- Paragraph --&gt;
&lt;p&gt;Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt...&lt;/p&gt;
&lt;p&gt;El illum dolore eu feugiat nulla facilisis at vero eros et accumsan...&lt;/p&gt;</pre>
	</div>
	
	<div id="type-blockquotes" class="tab-content">
<pre>
&lt;!-- Blockquote --&gt;
&lt;blockquote&gt;
&lt;p&gt;
lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit 
in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan 
et iusto odio
&lt;span&gt;Someone Important&lt;/span&gt;
&lt;/p&gt;
&lt;/blockquote&gt;</pre>
	</div>
	
	<div id="type-blockquotes-small" class="tab-content">
<pre>
&lt;!-- Blockquote Small --&gt;
&lt;blockquote class=&quot;small&quot;&gt;
&lt;p&gt;
lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit 
in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan 
et iusto odio
&lt;span&gt;Someone Important&lt;/span&gt;
&lt;/p&gt;
&lt;/blockquote&gt;</pre>
	</div>
	
	<div id="type-inline-styles" class="tab-content">
<pre>&lt;!-- Strong --&gt;
&lt;strong&gt;Strong&lt;/strong&gt;

&lt;!-- Emphasis --&gt;
&lt;em&gt;Emphasis&lt;/em&gt;

&lt;!-- Inline Link --&gt;
&lt;a href=&quot;&quot;&gt;Inline Link&lt;/a&gt;

&lt;!-- Strike --&gt;
&lt;strike&gt;Strike&lt;/strike&gt;

&lt;!--Inline Icons --&gt;
Inline &lt;i class=&quot;icon-film&quot;&gt;&lt;/i&gt; Icons

&lt;!--Sample Code (encoded entities) --&gt;
&lt;code&gt;&amp;lt;h1&amp;gt;Sample Code&amp;lt;/h1&amp;gt;&lt;/code&gt;</pre>
	</div>
	
	<div id="type-address" class="tab-content">
<pre>
&lt;!-- Address --&gt;
&lt;address&gt;&lt;p&gt;
1234 South Creek Lane&lt;br /&gt;
Calgary, Alberta, Canada&lt;br /&gt;
T4B&#8211;1S6
&lt;/p&gt;
&lt;/address&gt;</pre>
	</div>